body {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0%;
}

h1,
h3 {
    text-decoration: underline;
}

span {
    font-weight: bold;
}

ul {
    border: solid darkcyan 1px;
    border-radius: 5px;
    background-color: rgba(255, 17, 0, 0.1);
}